<section class="team">
  <div class="container">
    <div class="team-page">
      <h1>testimonials</h1>
      <p>
        <a [routerLink]="['/']">Home</a> /
        <a [routerLink]="['/about']">About</a> /
        <a [routerLink]="['/services']">services</a>
      </p>
    </div>
  </div>
</section>

<!-- Our Clients -->
<section class="Our-Clients">
  <div class="container">
    <div class="our-client-text">
      <p>TESTIMONIAL</p>
      <h2>What Say Our Clients</h2>
    </div>
    <div class="slick-carosel-service">
      <div class="container">
        <div class="our-clients-content">
          <div class="grid-3">
            <div class="our-client-card">
              <img src="/assets/testimonial-1.png" alt="" />
              <div class="our-client-body">
                <h2>John Doe</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Praesentium voluptates voluptatem eum nisi cumque veniam est
                  id reprehenderit atque rerum, cum sit perspiciatis, harum
                  cupiditate nostrum quibusdam perferendis accusamus, illo.
                </p>
              </div>
            </div>
            <div class="our-client-card">
              <img src="/assets/testimonial-2.png" alt="" />
              <div class="our-client-body">
                <h2>Adell Smith</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Praesentium voluptates voluptatem eum nisi cumque veniam est
                  id reprehenderit atque rerum, cum sit perspiciatis, harum
                  cupiditate nostrum quibusdam perferendis accusamus, illo.
                </p>
              </div>
            </div>
            <div class="our-client-card">
              <img src="/assets/testimonial-3.png" alt="" />
              <div class="our-client-body">
                <h2>James Butler</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Praesentium voluptates voluptatem eum nisi cumque veniam est
                  id reprehenderit atque rerum, cum sit perspiciatis, harum
                  cupiditate nostrum quibusdam perferendis accusamus, illo.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Litora -->
<section class="Litora">
  <div class="container">
    <div class="liotora-text">
      <p>Sed libero class aptent taciti</p>
      <h2>Sociosqu Ad Litora Torquent Per</h2>
    </div>

    <div class="litora-content">
      <div class="grid-2">
        <div class="litora-content-item">
          <div class="flex">
            <img src="/assets/06.png" alt="png" />
            <div class="flex-tab">
              <h3>E. Doe</h3>
              <p>Conubia nostra per inceptos</p>
            </div>
          </div>
          <p class="text">Himenaeos curabitur feugiat etiam in enim sed felis interdum lobortis phasellus nec eros ut arcu sollicitudin pellentesque curabitur porta justo vitae molestie semper ligula.</p>
        </div>
        <div class="litora-content-item">
          <div class="flex">
            <img src="/assets/07.png" alt="png" />
            <div class="flex-tab">
              <h3>F. Doe</h3>
              <p>Neque euismod nisi non</p>
            </div>
          </div>
          <p class="text">Himenaeos curabitur feugiat etiam in enim sed felis interdum lobortis phasellus nec eros ut arcu sollicitudin pellentesque curabitur porta justo vitae molestie semper ligula.</p>
        </div>
        
      </div>
    </div>
  </div>
</section>
