/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: none;
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  width: 100%;
}
img {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1480px) {
  .grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
}
@media (max-width: 840px) {
  .grid-4 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
 
}
