<section class="services">
  <div class="container">
    <div class="services-content">
      <h3>about Page</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa,
        possimus tempora? Illo nostrum culpa enim laudantium inventore magni
        fugiat quia.
      </p>
    </div>
  </div>
</section>
<section class="about">
  <div class="container">
    <div class="about-text">
      <p class="text-md">Some information about us</p>
      <h2>We’re small branding & digital studio</h2>
    </div>
    <p class="about-desc">
      Cras porta dolor ut velit imperdiet, quis sodales tellus facilisis.
      Vestibulum magna turpis, tincidun blandit semper lorem. Mauris nodesterin
      feugiat neque, a aliquet ligula. Sed non felis tincidunt, facilisis felis
      vitae, mollis est. Nulla sapien dui, feugiat sed velit a, egestas porta
      magna.
    </p>
  </div>

  <div class="about-Branding">
    <div class="container">
      <div class="grid-3">
        <div class="about-brand">
          <i class="fa-solid fa-desktop"></i>
          <h3>DESIGNS & INTERFACES</h3>
          <p>
            Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.
            Quisque id libero risus. Aliquam accumsan erat id sem placerat
            tempus.
          </p>
        </div>
        <div class="about-brand">
          <i class="fa-solid fa-rocket"></i>
          <h3>Branding</h3>
          <p>
            Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.
            Quisque id libero risus. Aliquam accumsan erat id sem placerat
            tempus.
          </p>
        </div>
        <div class="about-brand">
          <i class="fa-solid fa-life-ring"></i>
          <h3>Dedicated support</h3>
          <p>
            Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.
            Quisque id libero risus. Aliquam accumsan erat id sem placerat
            tempus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our History -->

<section class="our-history">
  <div class="container">
    <div class="grid-2">
      <div class="our-history-card">
        <img src="/assets/mac.png" alt="" />
      </div>
      <div class="our-history-card">
        <h2>Our History</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adiping elit, sed do eiusmod
          tempor incidd ut labore rhei et dolore magna aliqua. Ut enim ad
          veniam, quis laboris nisi ut aliquip ex ea commodo. Duis aute irure
          dolor in repre voluptate in the velit esse.
        </p>
        <div class="flex">
          <div class="our-history-time">
            <span>2021</span>
          </div>
          <div class="our-history-circle">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="our-history-desc">
            <p>
              Duis aute irure dolor in reprehenderit in the voluptate velit esse
              cillum dolore eu ugiat nulla pariatur cupiat non proident.
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="our-history-time">
            <span>2022</span>
          </div>
          <div class="our-history-circle">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="our-history-desc">
            <p>
              Duis aute irure dolor in reprehenderit in the voluptate velit esse
              cillum dolore eu ugiat nulla pariatur cupiat non proident.
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="our-history-time">
            <span>2023</span>
          </div>
          <div class="our-history-circle">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="our-history-desc">
            <p>
              Duis aute irure dolor in reprehenderit in the voluptate velit esse
              cillum dolore eu ugiat nulla pariatur cupiat non proident.
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="our-history-time">
            <span>2024</span>
          </div>
          <div class="our-history-circle">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="our-history-desc">
            <p>
              Duis aute irure dolor in reprehenderit in the voluptate velit esse
              cillum dolore eu ugiat nulla pariatur cupiat non proident.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our History -->

<section class="our-history">
  <div class="container">
    <div class="grid-2">
      <div class="our-history-card">
        <h2>Vision And Mission</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adiping elit, sed do eiusmod
          tempor incidd ut labore rhei et dolore magna aliqua. Ut enim ad
          veniam, quis laboris nisi ut aliquip ex ea commodo. Duis aute irure
          dolor in repre voluptate in the velit esse.
        </p>
        <div class="flex">
          <div class="our-history-circle">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="our-history-desc">
            <p>
              Duis aute irure dolor in reprehenderit in the voluptate velit esse
              cillum dolore eu ugiat nulla pariatur cupiat non proident.
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="our-history-circle">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="our-history-desc">
            <p>
              Duis aute irure dolor in reprehenderit in the voluptate velit esse
              cillum dolore eu ugiat nulla pariatur cupiat non proident.
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="our-history-circle">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="our-history-desc">
            <p>
              Duis aute irure dolor in reprehenderit in the voluptate velit esse
              cillum dolore eu ugiat nulla pariatur cupiat non proident.
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="our-history-circle">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="our-history-desc">
            <p>
              Duis aute irure dolor in reprehenderit in the voluptate velit esse
              cillum dolore eu ugiat nulla pariatur cupiat non proident.
            </p>
          </div>
        </div>
      </div>
      <div class="our-history-card">
        <img src="/assets/ab2.png" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- trainer -->
<section class="trainer">
  <div class="container">
     <div class="trainer-text">
      <p>Office Trainer</p>
      <h2>Expert Office Trainer</h2>
     </div>
    <div class="trainer-content">
      <div class="grid-4">
        <div class="trainer-content-tab">
              <img src="/assets/team-1.png" alt="team">
              <h2>Millie Harper</h2>
              <p>Office Manager</p>
              <div class="tariner-icons">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
        </div>
        <div class="trainer-content-tab">
              <img src="/assets/team-2.png" alt="team">
              <h2>Lilly Fry</h2>
              <p>Office Manager</p>
              <div class="tariner-icons">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
        </div>
        <div class="trainer-content-tab">
              <img src="/assets/team-3.png" alt="team">
              <h2>Elise Moran</h2>
              <p>Office Manager</p>
              <div class="tariner-icons">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
        </div>
        <div class="trainer-content-tab">
              <img src="/assets/team-4.png" alt="team">
              <h2>Kate Glover</h2>
              <p>Office Manager</p>
              <div class="tariner-icons">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>