<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-grid-4">
        <div class="footer-item">
          <ul>
            <li>
              <h3>Agency <span>Perfect</span></h3>
            </li>
            <li>
              <p>
                We're a digital agency focused on creative and results-driven
                solutions.
              </p>
            </li>
            <li>
              <p>
                We measure our success by the results we drive for our clients.
              </p>
            </li>
          </ul>
        </div>
        <div class="footer-item">
          <ul>
            <li><h3>Featured Links</h3></li>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
            <li><a [routerLink]="['/team']">Team</a></li>
            <li><a [routerLink]="['/services']">Services</a></li>
            <li><a [routerLink]="['/contact']">Contact</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <ul>
            <li><h3>FEATURED LINKS</h3></li>
            <li><a [routerLink]="['/portfolio']">Portfolio</a></li>
            <li><a [routerLink]="['/create-products']">create products</a></li>
            <li><a [routerLink]="['/testimonials']">testimonials</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <ul>
            <li><h3>KEEP IN TOUCH</h3></li>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"></i
              ><a href="#"> RameSalayme&#64;gmail.com</a>
            </li>
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i
              ><a href="#"> +972524752822</a>
            </li>
            <li>
              <i class="fa fa-fax" aria-hidden="true"></i
              ><a href="#"> 046021755</a>
            </li>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i
              ><a href="#"> Nazareth 16000 3015/8</a>
            </li>
          </ul>
          <ul class="footer-icons">
            <li><i class="fa-brands fa-youtube"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-x-twitter"></i></li>
            <li><i class="fa-brands fa-facebook"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-linkedin"></i></li>
          </ul>
        </div>
      </div>
      <div class="footer-copy-right">
        <p>Copyright &copy; 2024 Domain Name Here Design by: GetTemplate</p>
      </div>
    </div>
  </div>
</footer>
