<div class="shop-page-item">
  <img [src]="product.image" alt="p.4" />
  <div class="shop-page-body">
    <h2>{{ product.title }}</h2>
    <p>
      {{ product.description }}
    </p>
   
    <p class="shop-price">${{ product.price }}</p>
  </div>
  <div class="shop-page-icons">
    <i (click)="DeleteProducts(product._id)" class="fa-solid fa-trash-can"></i>
    <i
      [routerLink]="['/productsDetails', product._id]"
      class="fa-solid fa-eye"
    ></i>
    <i (click)="AddProducts(product)" class="fa-solid fa-cart-plus"></i>
    <i
      [routerLink]="['/edit', product._id]"
      class="fa-solid fa-pen-to-square"
    ></i>
  </div>
</div>
