.team {
  background-image: linear-gradient(
      to bottom,
      rgba(27, 27, 29, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/assets/bags.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 999;
}

.team .team-page {
  color: #fff;
  text-align: center;
  cursor: pointer;
  line-height: 1.6;
}

.team .team-page h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
.team .team-page a {
  text-transform: uppercase;
  color: #fff;
}

/* shop */

.shop .shop-page-text {
  max-width: 600px;
  margin: 5rem auto;
  text-align: center;
  cursor: pointer;
}

.shop .shop-page-text h1 {
  font-size: 40px;
  color: #332f2f;
  text-transform: uppercase;
}

.shop .shop-page-text p {
  opacity: 0.5;
  line-height: 1.5;
  margin: 1.2rem 0 2rem 0;
}

.shop .grid-2-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.shop .shop-form {
  text-align: right;
  margin-bottom: 2rem;
  cursor: pointer;
}

.shop .shop-page-categories h2 {
  color: #423e3e;
  font-weight: 200;
  margin-bottom: 1.5rem;
  font-size: 30px;
  cursor: pointer;
}

.shop .shop-form .form-group input {
  border: 1px solid #ddd4d4 !important;
  padding: 12px;
  width: 450px;
}

.shop .gender-nav-menu i {
  background: #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  cursor: pointer;
  margin-right: 2.5rem;
}

.shop .gender-nav-menu .gender-drobDown-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 0;
}

.shop .dropDown-shop-page li {
  margin-top: 8px;
  opacity: 0.8;
  cursor: pointer;
}

.shop .shop_btn button {
  padding: 8px;
  border: 1px solid #dcd1d1;
  border-radius: 28px;
  cursor: pointer;
  margin: 0 5px;
}

.shop .flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .shop-page-content */

.shop-page-content {
  margin: 2rem 0 5rem 0;
}

.shop-page-content .grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1350px) {
  .shop .grid-2-page {
    display: grid;
    grid-template-columns: 1fr;
  }

  .shop-page-content .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .shop .shop-form{
    margin: 2rem 0 2rem 0;
  }

  
}

@media (max-width: 768px) {
  .shop-page-content .grid-3 {
    grid-template-columns: 1fr;
  }
}

@media (max-width:785px) {
  .shop .flex{
    flex-direction: column;
    gap: 20px;
  }
}
