.team {
  background-image: linear-gradient(
      to bottom,
      rgba(52, 54, 67, 0.52),
      rgba(45, 35, 43, 0.73)
    ),
    url("/assets/portfolio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 999;
}

.team .team-page {
  color: #fff;
  text-align: center;
  cursor: pointer;
  line-height: 1.6;
}

.team .team-page h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
.team .team-page a {
  text-transform: uppercase;
  color: #fff;
}

/* portfolio */
.portfolio {
  padding: 40px;
}

.portfolio .grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-content-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.portfolio .portfolio-content-item .portfolio-body-category {
  position: absolute;
  top: 0;
  right: 0;
  background: #444040;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
.portfolio .portfolio-content-item:hover .portfolio-body-category {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(31, 44, 108, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.2);
}

.portfolio .portfolio-content-item img {
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
}
.portfolio .portfolio-content-item:hover img {
  width: 100%;
  height: auto;
  transform: scale(1.2) !important;
}

.portfolio .portfolio-content-item .portfolio-body-category h2 {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 15px;
}

.portfolio .portfolio-content-item .portfolio-body h2 {
  font-size: 20px;
  color: #444040;
  margin-top: 1rem;
}

.portfolio .portfolio-template {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 2rem;
}

.portfolio .portfolio-title {
  margin: 2rem 0;
  cursor: pointer;
}

.portfolio .portfolio-content-item p {
  color: #fff;
  font-size: 15px;
  margin-top: 5px;
}

.portfolio .portfolio-content-item .portfolio-body-category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio button {
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 8px;
  border-radius: 28px;
  text-transform: capitalize;
}

.portfolio-categories .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* spectrum */
.spectrum {
  position: relative;
  background: url("/assets/pexels_10.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 90px;
}

.spectrum .spectrum-text h2 {
  font-size: 54px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.spectrum .spectrum-text p {
  font-size: 25px;
  color: #ffffff;
}

.spectrum .spectrum-text a {
  text-transform: uppercase;
  color: #414a52;
  background-color: #54d0dd;
  padding: 14px 20px;
  font-size: 16px;
  transition: .3s ease-in-out;
}
.spectrum .spectrum-text a:hover {
  text-transform: uppercase;
  color: #54d0dd;
  background-color: #414a52;
  padding: 14px 20px;
  font-size: 16px;
}

/* activity */

.activity {
  margin: 5rem 0 5rem 0;
}

.activity .activity-title h2 {
  margin: 20px 20px;
  cursor: pointer;
  color: #444141;
}

.slick-carosel-service .slide {
  position: relative;
}

.slick-carosel-service .slide .slide-body {
  position: absolute;
  top: 85%;
  bottom: 30%;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.slick-carosel-service .slide:hover .slide-body {
  margin-bottom: 20px;
  transform: translateY(-10px);
  background: linear-gradient(#e66465, #9198e5);
  width: 100%;
  height: 100%;
}

.slick-carosel-service .slide .slide-body h5 {
  font-size: 22px;
  color: #fff;
}

.slick-carosel-service .slide {
  margin: 15px;
  cursor: pointer;
}

.slick-carosel-service .slide img {
  display: block;
  width: 100%;
  height: 600px;
  border-radius: 15px;
}

@media (max-width: 960px) {
  .portfolio .grid-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .portfolio  .flex{
    flex-direction: column;
  }

  .portfolio .portfolio-categories  button{
      display: flex !important;
  }
}
@media (max-width: 768px) {
  .portfolio .grid-3 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  
}
