.create-products {
  margin: 5rem 0 5rem 0;
  cursor: pointer;
}

.create-products .create-products-works {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 3.5rem;
  cursor: pointer;
}

.create-products .create-products-works h2 {
  font-size: 30px;
  color: #3a3434;
}

.create-products .create-products-works p {
  margin: 1rem 0 1rem 0;
  opacity: 0.5;
  line-height: 1.5;
}

.form-products {
  max-width: 600px;
  margin: auto;
}
.form-products .form-group label {
  display: block;
  margin: 15px 0 8px 0;
  opacity: 0.5;
  cursor: pointer;
}

.form-products .form-group {
  padding: 10px;
}

.form-products .form-group input {
  display: block;
  padding: 12px;
  width: 100%;
  border: 1px solid #c0c0c0;
  cursor: pointer;
}

.form-products .form-group textarea {
  width: 100%;
  border: 1px solid #c0c0c0;
  margin-top: 10px;
}

.form-products .form-group input[type="submit"] {
  background: #25cc0b;
  font-size: 16px;
  color: aliceblue;
}
.form-products .form-group input[type="submit"]:hover {
  background: transparent;
  font-size: 16px;
  color: #25cc0b;
  border: 1px solid #25cc0b;
}

